* {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
}

#firstSection {
    color: white;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    height: 300px;
    gap: 70px;
}

#logo {
    font-size: 16px;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 24px;
    font-size: 10px;
    justify-self: right;
}

button {
    background-color: #3882F6;
    border: none;
    padding: 8px;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

#headerLeftSite {
    width: 35%;
    padding-top: 15px;
}

#headerRightSite {
    width: 35%;
    padding-top: 15px;
    justify-self: right;
}

.lowerHeader {
    margin-top: 50px;
}

.lowerHeader>p {
    font-size: 12px;
    line-height: 20px;
}

.image {
    background-color: rgba(128, 128, 128, 0.425);
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 100;

}

/* druga sekcja */
#secontSection {
    margin-bottom: 30px;
    height: 250px;
}

#rectangleSection {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.smallContainer {
    width: 100px;
    font-size: 10px;
    text-align: center;

}

.rectangle {
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin: 8px 0;
}

#secondSectionHeader {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 30px;
}

/* Sekcja trzecia */

#thirdSection {
    background-color: #E5E7EB;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#thirdSectionContent {
    width: 500px;
}

#thirdSectionContent>p {
    font-style: italic;
    font-size: 24px;
    color: #1f2937;
}

#thirdSectionContent>h3 {
    justify-self: right;
    padding-top: 10px;
}

/* Sekcja czwarta */

#fourthSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

#contenBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    width: 80%;
    border-radius: 8px;
    height: 100px;
    color: white;
    gap: 60px
}

#contentButton {
    border: 2px solid white;
}

#contentBoxLeft>h6 {
    font-size: 12px;
    font-weight: 100;
}